<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ck.backend.mapper.MessageMapper">

    <resultMap type="com.ck.backend.pojo.Message" id="MessageMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="details" column="details" jdbcType="VARCHAR"/>
        <result property="addtime" column="addtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MessageMap">
        select id,
               title,
               details,
               addtime
        from message
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MessageMap">
        select
        id, title, details, addtime
        from message
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="details != null and details != ''">
                and details = #{details}
            </if>
            <if test="addtime != null">
                and addtime = #{addtime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from message
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="details != null and details != ''">
                and details = #{details}
            </if>
            <if test="addtime != null">
                and addtime = #{addtime}
            </if>
        </where>
    </select>
    <select id="getAll" resultType="com.ck.backend.pojo.Message">
        select * from message
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into message(title, details, addtime)
        values (#{title}, #{details}, #{addtime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into message(title, details, addtime)
        values
        <foreach collection="entities" item="pojo" separator=",">
            (#{pojo.title}, #{pojo.details}, #{pojo.addtime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into message(title, details, addtime)
        values
        <foreach collection="entities" item="pojo" separator=",">
            (#{pojo.title}, #{pojo.details}, #{pojo.addtime})
        </foreach>
        on duplicate key update
        title = values(title),
        details = values(details),
        addtime = values(addtime)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update message
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="details != null and details != ''">
                details = #{details},
            </if>
            <if test="addtime != null">
                addtime = #{addtime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from message
        where id = #{id}
    </delete>

</mapper>

